{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karim</title>
    <link rel="stylesheet" href="../static/css/c1.css">
</head>
<body style="background-color: cornflowerblue;">
    <center>
        <h1>This is the Holy Place for Muslims</h1>
        <h1>It is located in Saudi Arabia</h1>
        <h2>Each and every muslim should visit this place atleast once in his life</h2>
        <img src="{% static 'images/macca.jpg' %}" alt="image Not found" height="200px" width="400px">
    </center>
</body>
</html>